/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-image: url(./assets/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}

/* Header */
header {
    background: #00cc5c6c;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Main Sections */
main {
    padding: 20px;
}

/* Table Styles */
table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
    background: #0000002d;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #ffffff2d;
    font-weight: bold;
}
tr:nth-child(even) {
    background-color: #0000002d;
}
tr:hover {
    background-color: #ffffff2d;
}
caption {
    margin-bottom: 10px;
    font-weight: bold;
}

/* Footer Row */
tfoot {
    font-weight: bold;
    background-color: #003cff44;
    color: #fff;
}

/* Footer */
footer {
    background: #33333334;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
